<%# /meetings/new %>

<form action='/meetings' method='POST'>
<h4>Create a new meeting.</h4>
    
<br>
    <label for="first_name">User Name: </label>
    <input id="meetings_user_name" type="text" name="user_name">
    <br>
    <label for="last_name">Client Name: </label>
    <input id="meetings_client__name" type="text" name="client_name">
    <br>

    <input type="submit" value="Create Meeting">
</form>
