<h1>Insert the form to edit an instance of your model here.</h1>

    <p>
      <%= @user %> <%# display the user name %>
    </p>

    <p>
    hello
      <input type="submit" value="<%= @logout %>"> <%# user logout option %>
    </p>
