<h1>This is the show page for an individual instance of your model.</h1>

      <a href="/users/<%= @user.first_name %>"><%= @user.name %></a>
      <ul>

      <ul>
      Users:
        <%@user.each do |user|%>
        <li><%=user.first_name%></li>
        <%end%>
      </ul>
<br>


    <p>
    hello
      <input type="submit" value="<%= @logout %>"> <%# user logout option %>
    </p>
