  <div class="signup">
    <form action='/users/signup' method='POST'>
      <p id="new_sign_up"><h3>Sign Up :</h3>
        <input id="user_first_name" name="user[first_name]" type="text" placeholder="First Name" required>
        <br>
        <input id="user_last_name" name="user[last_name]" type="text" placeholder="Last Name" required>
        <br>
        <input id="user_email" name="user[email]" type="text" placeholder="Email" required>
        <br>
        <input id="user_phone" name="user[phone]" type="text" placeholder="Phone" required>
        <br>
        <input id="user_password" name="user[password]" type="password" placeholder="Password" required>
        <br>
        <td><button type="submit" value="Sign Up" class="btn btn-dark btn-sm" role="button" data-bs-toggle="button">Sign Up</button></td>
    </form>
  </div>
