<h2>This is a 404 error handling message. You'll be redirected back home momentarily.</h2>
<h4>listed in app/views. not_found method in application_controller</h4>

<meta http-equiv="refresh" content="3; url=/" />

    <form action='/' method='get'>
        <button type="submit" class="btn btn-dark btn-sm ">Go Home</button>
    </form>
