<div class="container">
  <header></header>
    <h2>Home</h2>


  <div class="login">
    <form action='/login' method="POST">
      <p id="login"><h3>Log In:</h3>
        <input id="email" type="text" name="user[email]" placeholder="Email">
        <br>
        <input id="password" type="password" name="user[password]" placeholder="Password">
        <br>
        <input type="submit" value="Log In">
    </form>
  </div>

<form action='/signup' method='get'>
    <button type="submit">Sign Up</button>
</form>



  <div class="signup">
    <form action='/signup' method='POST'>
      <p id="new_sign_up"><h3>Sign Up :</h3>
        <input id="user_first_name" type="text" name="user[first_name]" placeholder="Name">
        <br>
        <input id="user_email" type="text" name="user[email]" placeholder="Email">
        <br>
        <input id="user_password" type="password" name="user[password]" placeholder="Password">
        <br>
        <input type="submit" value="Sign Up">
    </form>
  </div>


  </div>
</div>
