  <div class="signup">
    <form action='/signup' method='POST'>
      <p id="new_sign_up"><h3>Sign Up :</h3>
        <input id="user_first_name" type="text" name="user[first_name]" placeholder="First Name">
        <br>
        <input id="user_last_name" type="text" name="user[last_name]" placeholder="Last Name">
        <br>
        <input id="user_email" type="text" name="user[email]" placeholder="Email">
        <br>
        <input id="user_password" type="password" name="user[password]" placeholder="Password">
        <br>
        <input type="submit" value="Sign Up">
    </form>
  </div>
